.formBox {
    text-align: center;
    font-size: large;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 12px 26px;
    font-size: 20px; 
}