.Gallery {
    background-repeat: repeat;
    display: flex;
    box-shadow: 0px 0px 30px rgb(69, 59, 71);
    object-fit: contain;
    margin: 25px;
    
}
.GalleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke;
    background-image: url(../../rockywall/rockywall.png);
}
.imageFrame1 {
    display: flex;
    justify-content: center;
    height: 500px;
    
}

/* .App > h1 {
    color:rgba(0, 0, 0, 0.2);
    font-size: 100px;
    margin-top: 100px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    
} */